%h1= @pin.title
%p= @pin.description
%p
Submitted by
=  @pin.user.email

%br
= link_to "Back'th" , root_path
= link_to "Edit" , edit_pin_path
= link_to "Delete'th" , pin_path , method: :delete , data: {confirm: "Sure bud?"}