#pin_show.row
	.col-md-8.col-md-offset-2
		.panel.panel-default
			.panel-heading.pin_image
				= image_tag @pin.image.url
			.panel-body
				%h1= @pin.title
				%p.description= @pin.description
			.panel-footer
				.row
					.col-md-6
						%p.user
							Posted by
							= @pin.user.profile_name
					.col-md-6
						.btn-group.pull-right
							= link_to 'Back' , root_path , class: "btn btn-default" , data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>  going back.."}
							- if @pin.user == current_user 
								= link_to "Edit", edit_pin_path, class: "btn btn-default"
								= link_to "Delete", pin_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default"
.container#likeem
	.row
		.col-md-6
			%p= "Likes this post:"
			= render 'likers'