!!! 5
%html
%head
	%title Feedgiab
	%meta{:name => "apple-mobile-web-app-capable" , :content =>  "yes" }
	%meta{:name => "viewport" , :content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"}
	= stylesheet_link_tag 'application' , media: "all" , "data-turbolinks-track" => true
	= javascript_include_tag 'application' , 'data-turbolinks-track' => true
	= csrf_meta_tag
%body
	%nav.navbar.navbar-default
		.navbar-brand= link_to "Feedgia2" , root_path
		.container
			- if user_signed_in?
				%ul.nav.navbar-nav.navbar-right
					%li= link_to "New Post" , new_pin_path
					%li= link_to "Account" , edit_user_registration_path
					%li= link_to "Sign out" , destroy_user_session_path , method: :delete
			- else
				%ul.nav.navbar-nav.navbar-right
					%li= link_to "Sign up" , new_user_registration_path
					%li= link_to "Sig In" , new_user_session_path

	.container
		- flash.each do |name , msg|
			= content_tag :div, msg, class: "alert alert-info"
		= yield
